.app-container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  max-width: 1000px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  font-family: "Space Grotesk", sans-serif;
  padding: 9px;
  border: none;
  outline: none;
}

.film-standby {
  color: #dfdddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-text {
  font-weight: 700;
  text-align: center;
}
